#headline{
	color:#0eb2be;
	font-family: "Garamond", Times, serif;
	font-weight: bold;
	text-decoration: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 99%;
}

.sticky + .topnav {
	padding-top: 10000000000px;
}
