#headline{
	color:#0eb2be;
	font-family: "Garamond", Times, serif;
	font-weight: bold;
	text-decoration: none;
}

<!-- .nav {
    overflow: hidden;
	background-color: black;
} -->

.sticky {
	position: fixed;
	top: 0;
	width: 99%;
  }

.sticky + .nav {
	padding-top: 10000000000px;
 }

<!-- .nav a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  
}

.nav a:hover {
    background-color: #00BCD4;
    color: black;
}
-->

body { width:960px; padding:100px 0; margin:0 auto; font-family:Calibri, sans-serif; }

#navigation{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

#navigation li{
	display:inline;
}

#navigation a{
	display:inline-block;
	padding:10px;
}

.nav{
	color:#c00;
	text-decoration:none;
	font-weight:bold;
}

.nav a:hover{
	text-decoration:underline;
}
